# 大文件默认忽略（如需包含，删掉下面的 #）
# public/install/src/panel6.zip
# public/install/src/panel_7_en.zip
# public/install/src/bt-monitor-2.3.3.zip
# public/install/update/LinuxPanel-11.8.0.zip
# public/install/update/LinuxPanel_EN-7.0.25.zip
